@import "tailwindcss";

@theme {
  --color-primary-creme: #faf9f5;
  --color-secondary-creme: #f5f4ed;
  --color-solid-creme: #f0eee6;
  --color-solid2-creme: #e8e6dc;
  --color-accent-primary: #b09300;
  --color-white: #fff;
  --color-black: #000;

  --color-text-primary: #3d3d3a;
  --color-text-secondary: #73726c;

  --color-border-primary: #1f1e1d4d;
  --color-border-solid: #1f1e1d;

  --font-stardom: "Stardom";
}

:root.dark {
  --color-primary-creme: #1a1a1a;
  --color-secondary-creme: #2a2a2a;
  --color-solid-creme: #3a3a3a;
  --color-solid2-creme: #4a4a4a;
  --color-accent-primary: #d4af37;
  --color-white: #363636;
  --color-black: #cdcccc;

  --color-text-primary: #e5e5e5;
  --color-text-secondary: #a3a3a3;

  --color-border-primary: #ffffff4d;
  --color-border-solid: #ffffff;
}

/*INPUT TEXT*/
.input-text {
  @apply bg-white border border-border-primary rounded w-full p-[8px] mt-[8px];
}

.input-text:hover {
  @apply border-border-solid;
}

.input-text:focus {
  @apply border-border-solid;
}

/*PRIMARY BUTTON*/
.form-button-primary {
  @apply w-full h-[42px] p-[8px] bg-black text-white font-bold overflow-hidden rounded mt-[28px];
}

.form-button-primary:hover {
  @apply bg-gradient-to-r from-black via-[#ffffff4d] to-black scale-[102%];
}

/*SECONDARY BUTTON*/
.form-button-secondary {
  @apply w-full h-[42px] p-[8px] bg-primary-creme border border-border-primary font-bold overflow-hidden rounded mt-[16px];
}

.form-button-secondary:hover {
  @apply bg-solid-creme border-0;
}
