@import "tailwindcss";

@theme {
  --color-primary-creme: #faf9f5;
  --color-secondary-creme: #f5f4ed;
  --color-solid-creme: #f0eee6;
  --color-solid2-creme: #e8e6dc;
  --color-accent-primary: #b09300;

  --color-text-primary: #3d3d3a;
  --color-text-secondary: #73726c;

  --color-border-primary: #1f1e1d4d;
  --color-border-solid: #1f1e1d;

  --font-stardom: "Stardom";
}

/*INPUT TEXT*/
.input-text {
  @apply bg-white border border-border-primary rounded w-full p-[8px] mt-[8px] mb-[8px];
}

.input-text:hover {
  @apply border-border-solid;
}

.input-text:focus {
  @apply border-border-solid;
}

/*PRIMARY BUTTON*/
.form-button-primary {
  @apply w-full h-[42px] p-[8px] bg-black text-white font-bold overflow-hidden rounded mt-[28px];
}

.form-button-primary:hover {
  @apply bg-gradient-to-r from-black via-[#ffffff4d] to-black scale-[102%];
}

/*SECONDARY BUTTON*/
.form-button-secondary {
  @apply w-full h-[42px] p-[8px] bg-primary-creme border border-border-primary font-bold overflow-hidden rounded mt-[16px];
}

.form-button-secondary:hover {
  @apply bg-solid-creme border-0;
}
