@import "tailwindcss";

@theme {
  --color-primary-creme: #faf9f5;
  --color-secondary-creme: #f5f4ed;
  --color-solid-creme: #f0eee6;
  --color-solid2-creme: #e8e6dc;
  --color-accent-primary: #b09300;

  --color-text-primary: #3d3d3a;
  --color-text-secondary: #73726c;

  --color-border-primary: #1f1e1d4d;
  --color-border-solid: #1f1e1d;

  --font-stardom: "Stardom";
}
